<nav class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav pull-left">
        <li><a href="/">Main</a></li>
        <% if(user) { %>
        <li><a href="/chat">Chat</a></li>
        <% } %>
    </ul>
    <ul class="nav navbar-nav pull-right">
        <% if(user) { %>
        <li>
            <a id="logout" href="javascript:void(0)">Logout</a>
        </li>

        <script>
            $('#logout').click( function () {
                $.post('/logout');
            });
        </script>

        <% } else { %>
        <li><a href="/login">Enter</a></li>
        <% } %>
    </ul>
</nav>
