<% layout('layout/page') -%>
<% block('title', 'Chat') -%>

<p class="lead">Chat will be here.</p>

<p>Welcome, <%=user.get('username')%> !</p>
<script src="/vendor/bower_components/socket.io-client/socket.io.js"></script>

<div id="room">
    <ul></ul>
    <form>
        <input type="text"
               class="form-control"
               autocomplete="off"
               autofocus
               placeholder="Message..." />
    </form>
</div>

<script>
    var input = $('#room input');
    var form = $('#room form');
    var ul = $('#room ul');

    var socket = io()
        .on('chat join', function (username) {
            printMessage(username + ' entered chat');
        })
        .on('chat leave', function (username) {
            printMessage(username + ' left chat');
        })
        .on('chat message', function (username, message) {
            printMessage(username + ' > ' + message);
        })
        .on('connect', function () {
            printStatus('connected');
            form.on('submit', sendMessage);
            input.prop('disabled', false);
        })
        .on('disconnect', function() {
            printStatus('lost connection');
            form.off('submit', sendMessage);
            input.prop('disabled', true);
        });

    function sendMessage() {
        var text = input.val();
        socket.emit('chat message', text, function() {
            printMessage('me > ' + text);
        });

        input.val('');
        return false;
    }

    function printStatus(status) {
        $('<li>').append($('<i>').text(status)).appendTo(ul);
    }

    function printMessage(text) {
        $('<li>', { text: text }).appendTo(ul);
    }
</script>
